Backup/Axis2SOAPWsdl/test/src/main/resources/MavenAxis2WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://test.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://test.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test.com">
            <xs:element name="ping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streetAddressOne" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streetAddressTwo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="pingRequest">
        <wsdl:part name="parameters" element="ns:ping"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part name="parameters" element="ns:pingResponse"/>
    </wsdl:message>
    <wsdl:portType name="MavenAxis2WebServicePortType">
        <wsdl:operation name="ping">
            <wsdl:input message="ns:pingRequest" wsaw:Action="urn:ping"/>
            <wsdl:output message="ns:pingResponse" wsaw:Action="urn:pingResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MavenAxis2WebServiceSoap11Binding" type="ns:MavenAxis2WebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ping">
            <soap:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MavenAxis2WebServiceSoap12Binding" type="ns:MavenAxis2WebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ping">
            <soap12:operation soapAction="urn:ping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MavenAxis2WebServiceHttpBinding" type="ns:MavenAxis2WebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ping">
            <http:operation location="ping"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MavenAxis2WebService">
        <wsdl:port name="MavenAxis2WebServiceHttpSoap11Endpoint" binding="ns:MavenAxis2WebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
        <wsdl:port name="MavenAxis2WebServiceHttpSoap12Endpoint" binding="ns:MavenAxis2WebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
        <wsdl:port name="MavenAxis2WebServiceHttpEndpoint" binding="ns:MavenAxis2WebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MavenAxis2WebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
